<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.account.mapper.AccountMapper">
    <!--查询总条数-->
    <select id="findCount"
            resultType="int">
        SELECT count(*) FROM account
    </select>
    <!--查询所有-->
    <select id="findAll"
            parameterType="com.lanou.util.PageBean"
            resultType="com.lanou.account.domain.Account">
         SELECT * FROM account limit #{pageSize} offset #{startIndex}
    </select>
    <!--根据id查询-->
    <select id="findById"
            parameterType="int"
            resultType="com.lanou.account.domain.Account">
        SELECT * FROM account WHERE account_id = #{id}
    </select>
    <!--保存-->
    <insert id="save"
            parameterType="com.lanou.account.domain.Account">
        INSERT into account (recommender_id,login_name,login_passwd,status,create_date,pause_date,close_date,real_name,idcard_no,birthdate,gender,occupation,telephone,email,mailaddress,zipcode,qq,last_login_time,last_login_ip)
        VALUES (#{recommender_id},#{login_name},#{login_passwd},#{status},#{create_date},#{pause_date},#{close_date},#{real_name},#{idcard_no},#{birthdate},#{gender},#{occupation},#{telephone},#{email},#{mailaddress},#{zipcode},#{qq},#{last_login_time},#{last_login_ip})
    </insert>
    <!--删除-->
    <delete id="deleteAccount"
            parameterType="com.lanou.account.domain.Account">
       UPDATE account SET status=#{status},close_date=#{close_date} WHERE account_id=#{account_id}
    </delete>

   <!--根据身份证id查找-->
    <select id="findByIdCard"
            parameterType="java.lang.String"
            resultType="com.lanou.account.domain.Account">
        SELECT * FROM account WHERE idcard_no=#{value}
    </select>

    <!--根据推荐人身份id找account_id的人-->
    <select id="findByRecommenderId"
            parameterType="int"
            resultType="com.lanou.account.domain.Account">
        SELECT * FROM account WHERE account_id=#{recommender_id}
    </select>

    <!--update-->
    <update id="update"
            parameterType="com.lanou.account.domain.Account">
        UPDATE account SET recommender_id=#{recommender_id},real_name=#{real_name},gender=#{gender},occupation=#{occupation},telephone=#{telephone},email=#{email},mailaddress=#{mailaddress},zipcode=#{zipcode},qq=#{qq}
        WHERE account_id=#{ account_id}
    </update>

    <!--开通或暂停-->
    <update id="setStauts"
            parameterType="com.lanou.account.domain.Account">
        UPDATE account SET status=#{status},pause_date=#{pause_date} WHERE account_id=#{account_id}
    </update>

    <select id="findAccountCount"
            parameterType="com.lanou.account.domain.Account"
            resultType="int">
        SELECT count(*) FROM account
        <where>
            1=1
            <if test="idcard_no!=null">
                AND idcard_no LIKE "%"#{idcard_no}"%"
            </if>
            <if test="real_name!=null">
                AND real_name LIKE "%"#{real_name}"%"
            </if>
            <if test="login_name!=null">
                AND login_name LIKE "%"#{login_name}"%"
            </if>
            <if test="status!=-1">
                AND status=#{status}
            </if>
        </where>
    </select>

    <select id="findAllAccount"
            parameterType="com.lanou.util.PageBean"
            resultType="com.lanou.account.domain.Account">
        SELECT * FROM account
        <where>
            1=1
            <if test="t.idcard_no!=null">
                AND idcard_no LIKE "%"#{t.idcard_no}"%"
            </if>
            <if test="t.real_name!=null">
                AND real_name LIKE "%"#{t.real_name}"%"
            </if>
            <if test="t.login_name!=null">
                AND login_name LIKE "%"#{t.login_name}"%"
            </if>
            <if test="t.status!=-1">
                AND status=#{t.status}
            </if>
        </where> limit #{pageSize} offset #{startIndex}
    </select>


</mapper>