<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--c3-->
    <!--数据工厂-->
    <!-- 定义mybatis中的mapper代理接口的扫描规则-->
    <!--配置事物-->
    <!--mapper接口代理对象所在的包-->
</beans>